# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

*.DS_Store

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
*.synctex.gz
